* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body header {
  width: 100%;
}
body header nav {
  background-color: #f1c40f;
  padding: 10px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body header nav a {
  width: 100px;
  height: auto;
}
body header nav a img {
  width: 100%;
  height: auto;
}
body header nav div {
  width: 100px;
  height: auto;
}
body header nav div span {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
body header nav div span i {
  font-size: 3vw;
  position: relative;
}
body header nav div span i #contadorCarrito {
  font-size: 16px;
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 3px;
}
body header .tittle__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background: rgb(202, 199, 199);
  margin: 0;
}
body header .tittle__container div {
  position: absolute;
  right: 50px;
}
body header .tittle__container div input {
  border: none;
  outline: none;
  border-radius: 10px;
  text-align: center;
  width: 200px;
}
body main {
  display: grid;
  grid-template-columns: 0.4fr auto;
  grid-template-areas: "aside productos productos" "aside carrito carrito";
  background-color: snow;
  background-image: url(../assets/img/huesitos.png);
  background-repeat: repeat;
  background-size: 200px;
}
body main aside {
  grid-area: aside;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 230px;
  background: #f1c40f;
}
body main aside form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
body main aside form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15%;
}
body main .container__principal {
  grid-area: productos;
  display: flex;
  justify-content: center;
}
body main .container__principal section.gridProductos {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}
body main .container__principal section.gridProductos .tarjeta {
  width: 18rem;
  background-color: rgba(128, 128, 128, 0.8392156863);
}
body main .container__principal section.gridProductos .tarjeta .container_img {
  width: 90%;
  height: 370px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .container__principal section.gridProductos .tarjeta .container_img img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
  padding: 20px 0;
}
body main .container__principal section.gridProductos .tarjeta p {
  font-size: 20px;
  font-weight: bold;
}
body main .container__tabla {
  grid-area: carrito;
  width: 90%;
  margin-top: 50px;
  margin-left: auto;
  padding-right: 100px;
}
body main .container__tabla table {
  width: 100%;
}
body main .container__tabla table tr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
body main .container__tabla table tr img {
  width: 50px;
  height: auto;
}
body main .container__tabla p {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 20px;
  font-size: 26px;
}
body main .container__tabla #botonComprar {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 10px;
}
body main .container__tabla #botonComprar input:last-child {
  width: 20%;
  margin: 30px 0 0 auto;
}
body footer {
  background-color: rgb(202, 199, 199);
  height: 100px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}
body footer h5 {
  margin: 0;
}/*# sourceMappingURL=main.css.map */